<section id="contact">
    <h3 class="text-center wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".2s">
        联系我们
    </h3>
    <hr class=" wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".4s" align="center" width="40%">
    <h4 class="text-center wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".6s">
        我们，一直在等你。
    </h4>
    <div class="container section-content">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start active contact-top-content wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".2s">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">送货方式：</h4>
                            <small></small>
                        </div>
                        <p class="mb-1">Covina 自取</p>
                        <p class="mb-1">5 英里内 <strong>免费送货</strong></p>
                        <p>超出5英里的部分 $1/英里</p>
                    </div>

                    <div class="list-group-item list-group-item-action flex-column align-items-start active contact-bottom-content wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".4s">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">现在下单吧!</h4>
                            <small></small>
                        </div>
                        <p class="mb-1">扫下方二维码就可以立刻下单了。</p>
                        <div class="qr-container">
                            <img src="/img/contact-1.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="jumbotron wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".2s">
                    <div id="map">Our map will load here</div>
                </div>
            </div>
        </div>
        <hr align="center" width="60%">
        <div class="row">
            <div class="col-md-4 col-sm-12 wow fadeInRight" data-wow-delay=".2s" data-wow-duration=".4s"><i class="fa fa-map-o"></i> 地址：20284 E Arrow Hwy, Covina, CA</div>
            <div class="col-md-4 col-sm-12 wow fadeInRight" data-wow-delay=".4s" data-wow-duration=".4s"><i class="fa fa-phone"></i> 电话：503-409-9244</div>
            <div class="col-md-4 col-sm-12 wow fadeInRight" data-wow-delay=".6s" data-wow-duration=".4s"><i class="fa fa-wechat"></i> 微信：babysbreath24</div>
        </div>
    </div>
</section>

