<section id="header">
    <div class="container">
        <div class="overlay"></div>
        <% include video-bg.ejs %>
        <div class="jumbotron header-content">
            <h1 class="display-3">唐心蛋糕</h1>
            <h2>让我来拯救你的胃吧！</h2>
            <hr class="my-4">
            <h5>所有产品均采用新鲜水果、有机鲜牛奶、100%无添加剂防腐剂，纯手工制作！</h5>
            <p class="lead">
                <button class="btn btn-primary btn-lg" onclick="clickHeaderBtn()" role="button"> 立刻下单~</button>
            </p>
        </div>
    </div>
</section>