<section id="header">
    <div class="container">
        <div class="overlay"></div>
        <% include video-bg.ejs %>
        <div class="jumbotron header-content wow fadeIn" data-wow-duration=".2s">
            <h1 class="display-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s">唐心蛋糕</h1>
            <h2 class=" wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s">让我来拯救你的胃吧！</h2>
            <hr class="my-4 wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s">
            <h5 class=" wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".8s">所有产品均采用新鲜水果、有机鲜牛奶、100%无添加剂防腐剂，纯手工制作！</h5>
            <p class="lead">
                <button class="btn btn-primary btn-lg wow fadeInUp" data-wow-duration=".4s" data-wow-delay="1s" onclick="clickHeaderBtn()" role="button"> 立刻下单~</button>
            </p>
        </div>
    </div>
</section>