<section id="hot">
    <h3 class="text-center wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".2s">我们的特色</h3>
    <hr class=" wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".4s" align="center" width="40%">
    <h4 class="text-center wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".6s">
       健康有机纯天然~
    </h4>
    <div class="container section-content">

        <div class="row">
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s" style="max-width: 20rem;">
                    <div class="card-header">10%糖</div>
                    <div class="card-body">
                        <img src="/img/hot-1.jpg" alt="" class="img-fluid">
                        <h4 class="card-title hot-title"></h4>
                        <p class="card-text">所有产品配方均只加入10%糖，甜而不腻，口感极佳。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s" style="max-width: 20rem;">
                    <div class="card-header">新鲜食材</div>
                    <div class="card-body">
                        <img src="/img/hot-2.jpg" alt="" class="img-fluid">
                        <h4 class="card-title hot-title"></h4>
                        <p class="card-text">所有产品均采用新鲜水果、有机鲜牛奶、100%无添加剂防腐剂。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s" style="max-width: 20rem;">
                    <div class="card-header">纯手工制作</div>
                    <div class="card-body">
                        <img src="/img/hot-3.jpg" alt="" class="img-fluid">
                        <h4 class="card-title hot-title"></h4>
                        <p class="card-text">所有产品均由唐心甜品创始人亲手调制而成，独一无二。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>