<section id="menu">
    <h3 class="text-center">
        菜单
    </h3>
    <hr align="center" width="40%">
    <h4 class="text-center">
        新鲜出炉，每季更新哟～
    </h4>
    <div class="container section-content">
        <div class="row">
            <% menuItems.forEach(item =>{ %>
            <div class="col-md-4 col-sm-12">
                <div class="card text-primary bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <img src="<%= item.imgPath %>" alt="" class="img-fluid">
                        <div class="item-icon">
                            <img src="<%= item.iconPath %>" alt="" class="img-fluid item-icon-img">
                        </div>
                        <h4 class="card-title text-center"><%= item.name %></h4>
                        <div class="name-underline"></div>
                        <h5 class="card-title text-center"><%= item.price %></h5>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</section>