<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Tassie-Cake</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" onclick="clickNav('#header')"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" onclick="clickNav('#hot')"><i class="fa fa-fire"></i> Hot</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" onclick="clickNav('#menu')"><i class="fa fa-book"></i> Menu</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" onclick="clickNav('#gallery')"><i class="fa fa-heart"></i> Gallery</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" onclick="clickNav('#contact')"><i class="fa fa-map-o"></i> Contact</a>
            </li>
        </ul>
    </div>
</nav>