<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../shared/head.ejs %>
    <% include components/head.ejs %>

</head>
<body>
<% include ../shared/nav.ejs %>
<% include components/header.ejs %>
<% include components/hot.ejs %>
<% include components/menu.ejs %>
<% include components/gallery.ejs %>
<% include components/contact.ejs %>


<% include components/footer.ejs %>
<% include ../shared/tail.ejs %>
<% include components/tail.ejs %>

</body>
</html>
