<section id="contact">
    <h3 class="text-center">
        Contact
    </h3>
    <hr align="center" width="40%">
    <h4 class="text-center">
        We are here, as always.
    </h4>
    <div class="container section-content">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start active contact-top-content">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Delivery method:
                            </h5>
                            <small></small>
                        </div>
                        <p class="mb-1">Covina self-pickup</p>
                        <p class="mb-1"><strong>Free Delivery</strong> within 5 miles</p>
                        <small>$1 delivery fee for each additional mile</small>
                    </div>

                    <div class="list-group-item list-group-item-action flex-column align-items-start active contact-bottom-content">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Order Now!</h5>
                            <small></small>
                        </div>
                        <p class="mb-1">Scan the QR code and place the order right away!</p>
                        <div class="qr-container">
                            <img src="/img/contact-1.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="jumbotron">
                    <div id="map">My map will go here</div>
                </div>
            </div>
        </div>


        <hr align="center" width="60%">
        <div class="row">
            <div class="col-md-4 col-sm-12"><i class="fa fa-map-o"></i> 地址：20284 E Arrow Hwy, Covina, CA</div>
            <div class="col-md-4 col-sm-12"><i class="fa fa-phone"></i> 电话：503-409-9244</div>
            <div class="col-md-4 col-sm-12"><i class="fa fa-wechat"></i> 微信号：babysbreath24</div>

        </div>
    </div>
</section>

