<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center wow fadeInLeftBig" data-wow-delay=".4s" data-wow-duration="1.4s">Made with <i class="fa fa-heart"></i> by Chris. Y & Leon. Q & Josie. L</p>
            </div>
        </div>
    </div>
</footer>