<section id="header">
    <div class="container">

        <% include video-bg.ejs %>
        <div class="jumbotron header-content">
            <h1 class="display-3 wow fadeInUp" data-wow-duration=".3s" data-wow-delay=".2s">Tassie Cake</h1>
            <h2 class="wow fadeInUp" data-wow-duration=".3s" data-wow-delay=".4s">Let's save your Taste.</h2>
            <hr class="my-4">
            <h5 class="wow fadeInUp" data-wow-duration=".3s" data-wow-delay=".6s">All products are fresh fruit, organic
                fresh milk, 100% pure handmade!</h5>
            <p class="lead wow fadeInUp">
                <button class="btn btn-secondary btn-lg wow fadeInUp" onclick="clickHeaderBtn()" data-wow-duration=".3s"
                        data-wow-delay=".8s"> Order Now!
                </button>
            </p>
        </div>
        <div class="overlay"></div>
    </div>
</section>