<section id="header">
    <div class="container">
        <div class="overlay"></div>
        <% include video-bg.ejs %>
        <div class="jumbotron header-content">
            <h1 class="display-3">Tassie Cake</h1>
            <p class="lead">Let's save your tongue.</p>
            <hr class="my-4">
            <p>All products are fresh fruit, organic fresh milk, 100% pure handmade!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</section>