<section id="hot">
    <h3 class="text-center">What's hot right now!</h3>
    <hr align="center" width="40%">
    <h4 class="text-center">
        Life is short, so why not giving up losing weight.
    </h4>
    <div class="container section-content">

        <div class="row">
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Our Characteristic</div>
                    <div class="card-body">
                        <img src="/img/hot-1.jpg" alt="" class="img-fluid">
                        <h4 class="card-title hot-title">10% Sugar</h4>
                        <p class="card-text">All layers of cake recipe are added only 10% sugar, sweet and not greasy,
                            taste very good.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Fresh Food</div>
                    <div class="card-body">
                        <img src="/img/hot-2.jpg" alt="" class="img-fluid">
                        <h4 class="card-title hot-title">We use the best</h4>
                        <p class="card-text">All products are fresh fruit, organic fresh milk, 100%
                            preservative-free.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Handcrafted</div>
                    <div class="card-body">
                        <img src="/img/hot-3.jpg" alt="" class="img-fluid">
                        <h4 class="card-title hot-title">Made with <i class="fa fa-heart"></i></h4>
                        <p class="card-text">All products are made by May the founder, our secret formula is unique.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>