<section id="hot">
    <h3 class="text-center wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".2s">Our Features</h3>
    <hr class=" wow fadeInDown" align="center" width="40%" data-wow-duration=".4s" data-wow-delay=".2s">
    <h4 class="text-center wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".8s">
        Healthy Organic Natural
    </h4>
    <div class="container section-content">

        <div class="row">
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3 wow fadeInUp" style="max-width: 20rem;" data-wow-duration=".5s" data-wow-delay=".2s">
                    <div class="card-header">10% Sugar</div>
                    <div class="card-body">
                        <img src="/img/hot-1.jpg" alt="" class="img-fluid">
                        <h4 class="card-title hot-title"></h4>
                        <p class="card-text">All recipes only contain 10% sugar.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3 wow fadeInUp" style="max-width: 20rem;" data-wow-duration=".5s" data-wow-delay=".4s">
                    <div class="card-header">Fresh Fruit</div>
                    <div class="card-body">
                        <img src="/img/hot-2.jpg" alt="" class="img-fluid">
                        <h4 class="card-title hot-title"></h4>
                        <p class="card-text">All products are made with organic fruits.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3 wow fadeInUp" style="max-width: 20rem;" data-wow-duration=".5s" data-wow-delay=".6s">
                    <div class="card-header">Handcrafted</div>
                    <div class="card-body">
                        <img src="/img/hot-3.jpg" alt="" class="img-fluid">
                        <h4 class="card-title hot-title"></h4>
                        <p class="card-text">All products are made with our unique formula.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>