body, html {
    height: 100%;
}

nav .right-items {
    margin-right: 15px;
}

nav .nav-link {
    cursor: pointer;
}


#video-background {
    /*  making the video fullscreen  */
    background: url(/img/header-bg.jpg) center center no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}