<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../shared/head.ejs %>
    <% include components/head.ejs %>

</head>
<body>
<% include ../shared/nav.ejs %>
<% include components/header.ejs %>
<% include components/hot.ejs %>
</body>
</html>
