<section id="hot">
    <h3 class="text-center">What's hot right now!</h3>
    <hr align="center" width="40%">
    <div class="container section-content">

        <div class="row">
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <img src="/img/milk-shake.jpg" alt="" class="img-fluid">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <img src="/img/crepe-cake.jpg" alt="" class="img-fluid">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card text-primary bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <img src="/img/double-creme.jpeg" alt="" class="img-fluid">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>