<section id="menu">
    <h3 class="text-center">
        Menu
    </h3>
    <hr align="center" width="40%">
    <h4 class="text-center">
        Menu des a little bit here is wonderful.
    </h4>
    <div class="container section-content">
        <div class="row">
            <% for (let i = 0 ; i < 3; i++) { %>
            <div class="col-md-4 col-sm-12">
                <div class="card text-primary bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <img src="/img/milk-shake.jpg" alt="" class="img-fluid">
                        <div class="item-icon">
                            <img src="/img/item-icon.png" alt="" class="img-fluid">
                        </div>
                        <h4 class="card-title text-center">Item name</h4>
                        <div class="name-underline"></div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="row">
            <% for (let i = 3 ; i < 6; i++) { %>
            <div class="col-md-4 col-sm-12">
                <div class="card text-primary bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <img src="/img/milk-shake.jpg" alt="" class="img-fluid">
                        <div class="item-icon">
                            <img src="/img/item-icon.png" alt="" class="img-fluid">
                        </div>
                        <h4 class="card-title text-center">Item name</h4>
                        <div class="name-underline"></div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="row">
            <% for (let i = 6 ; i < 9; i++) { %>
            <div class="col-md-4 col-sm-12">
                <div class="card text-primary bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <img src="/img/milk-shake.jpg" alt="" class="img-fluid">
                        <div class="item-icon">
                            <img src="/img/item-icon.png" alt="" class="img-fluid">
                        </div>
                        <h4 class="card-title text-center">Item name</h4>
                        <div class="name-underline"></div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>